body {
  background-color: #f5f5f5;
  color: #666;
  font-family: "Athiti", Tahoma, Loma;
  font-size: 16px;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
}
body,
html {
  height: 100%;
  min-height: 100%;
}
body.mainpage .footer,
body.loginpage {
  background-color: #3498db;
}
a {
  color: #1276b9;
}
a:hover {
  color: #ff5722;
}
#login_div {
  height: 100%;
  padding: 30px 0 10px;
  margin: 0 auto;
  max-height: 90%;
}
#login_div h1 {
  text-align: center;
  margin: 0 auto 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
}
#login_div .comment,
#login_div a {
  color: inherit;
}
#login_div aside {
  margin: 10px 20px 0;
}
#login_div .warning,
#login_div form {
  width: 320px;
  max-width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
#login_div .warning {
  margin: 20px auto 0;
}
#login_div h2 .td {
  padding: 15px 20px 0 15px;
}
#login_div form fieldset {
  margin: 20px;
  padding: 0;
  font-size: 1.2em;
}
#login_div label:before {
  color: #666;
}
.language-menu {
  position: relative;
  text-align: right;
}
.language-menu:before {
  margin: 0;
  cursor: pointer;
}
.mainpage .language-menu {
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}
.mainpage .language-menu:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.language-menu ul {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin-left: -1em;
  left: 50%;
  height: 0;
  font-size: 1em;
}
.mainpage .language-menu ul {
  font-size: 1.625em;
}
.language-menu:hover ul {
  height: auto;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.language-menu li>a {
  display: block;
  width: 2em;
  height: 2em;
  background-position: 50% 50%;
}
header.header {
  background-color: #2387ca;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
header.header #logo {
  display: inline-block;
}
#logo img {
  height: 45px;
  width: auto;
}
header.header .td {
  padding: 0 10px;
}
header.header h2 {
  font-size: 1.6em;
  line-height: 2.4em;
}
.language-menu,
.language-menu ul,
.gdpanel a,
header.header li {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header.header .td,
.topmenu>ul>li {
  color: #ddd;
}
header.header .td,
.topmenu>ul>li>span,
.topmenu>ul>li>a {
  text-shadow: -1px -1px rgba(0, 0, 0, 0.4);
}
.topmenu>ul ul,
.gdpanel a {
  text-shadow: none;
}
.gdpanel {
  margin-right: 10px;
}
.menu_wrapper {
  background-color: #1276b9;
}
.topmenu ul>li:hover {
  color: #fff;
}
.topmenu>ul>li.select,
.topmenu>ul>li.hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.topmenu>ul ul {
  color: #666;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.language-menu li>a:hover,
.topmenu>ul ul>li.hover>a,
.gdpanel a:hover {
  color: #fff;
  background-color: #1e88e5;
}
header.header .td {
  white-space: nowrap;
}
header.header a {
  color: inherit;
}
.footer {
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1) inset;
  display: table;
  width: 100%;
  margin-top: 10px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
.footer p {
  height: 57px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.footer a {
  color: inherit;
}
#slidemenu_content {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -68px;
}
.wrapper::after {
  content: "";
  display: block;
  height: 68px;
}
fieldset.search input[type="submit"],
.editinplace:hover:after,
.ban:after {
  font-family: "icomoon";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  min-width: 1em;
  display: inline-block;
  vertical-align: middle;
}
.breadcrumbs {
  padding: 5px 10px;
  list-style-type: none;
  background-color: #ececec;
  overflow: hidden;
  text-shadow: 1px 1px 0 #fff;
}
.breadcrumbs>li {
  float: left;
}
.breadcrumbs li:before {
  content: "/";
}
.section {
  margin: 0 1% 1%;
  border-width: 1px;
  border-style: solid;
  border-color: #dbdbdb;
  padding-bottom: 10px;
  clear: both;
}
section>header {
  padding: 10px;
  position: relative;
  background-color: #ececec;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.1) inset;
  text-shadow: 1px 1px 1px #fff;
}

/* table */

.tablebody table td:first-child,
.tablebody table th:first-child {
  padding-left: 0;
}
.tablebody table td:last-child,
.tablebody table th:last-child {
  padding-right: 0;
}
.tablebody table {
  border-collapse: separate;
  font-size: inherit;
}
.tablebody caption {
  padding: 5px 10px;
}
.tablebody table .thead th,
.tablebody table thead th {
  white-space: nowrap;
  text-shadow: 1px 1px 0 #fff;
  font-weight: bold;
  background-color: #ddd;
}
.tablebody table td:first-child,
.tablebody table th:first-child {
  padding-left: 10px;
}
.tablebody table td:last-child,
.tablebody table th:last-child {
  padding-right: 10px;
}
.tablebody td.menu,
.tablebody th.menu {
  width: 16px;
  text-align: center;
}
.tablebody td.thumb>img {
  max-width: 48px;
  max-height: 48px;
}
.check-column {
  padding: 0;
  width: 2.5em;
  text-align: center !important;
}
.tablebody tbody th,
.tablebody tbody td,
.tablebody .thead th,
.tablebody thead th {
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-color: #fff;
  border-top-color: rgba(255, 255, 255, 0.1);
}
td a[class*="icon"] {
  display: block;
}
tr.bg3 {
  background-color: #fbdca0;
}
table.database tfoot tr,
table.database thead tr {
  background-color: #eee;
}
table.database td,
table.database th {
  border-color: #eee;
  border-style: none none solid none;
  padding: 5px;
}
table.database th {
  background-color: #f9f9f9;
  border-style: none solid solid solid;
}
table.database td:last-child {
  border-right-style: solid;
}

/* form */

div.dashboard,
.setup_frm {
  margin: 10px auto;
  display: table;
  width: 960px;
  max-width: 100%;
}
.setup_frm {
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.setup_frm ul {
  list-style-type: none;
  line-height: 2em;
  padding: 10px;
}
.setup_frm .datatable>.tablebody {
  overflow: visible;
}
.subtitle,
caption {
  padding: 5px 10px;
  color: #999;
}
caption {
  border-bottom: 1px solid #ddd;
}
form .item {
  margin: 0 10px 10px;
}
form .subitem {
  margin: -10px 10px 10px;
}
form .submit {
  margin: 0 10px 10px;
}
form .submit>* {
  margin: 0 5px 5px 0;
}
fieldset {
  padding-bottom: 1.5em;
}
fieldset fieldset,
fieldset.item {
  padding-bottom: 0;
}
.setup_frm>form>fieldset>legend>span,
.setup_frm>fieldset>legend>span,
main h3 {
  display: block;
  padding: 10px;
  font-size: 1.625em;
}
main h3 select {
  border: none;
}
.icon-sex-f:before {
  color: #f480d1;
}
.icon-sex-m:before {
  color: #36c;
}
span.icon-sex:before,
.icon-valid.disabled {
  color: #ccc;
}
.icon-valid.access {
  color: #f00;
}
.icon-check:before,
.icon-uncheck:before {
  color: #000;
}
.icon-facebook:before {
  color: #3b5998;
  margin-left: 0;
}
.icon-google:before {
  color: #eb4132;
  margin-left: 0;
}
td.icons a.icon-plus,
td.icons a.icon-minus {
  margin: 0 10px;
  display: inline-block;
  line-height: inherit;
  font-size: 1.5em;
}
td.icons a.icon-plus:before,
td.icons a.icon-minus:before {
  margin: 0;
  vertical-align: middle;
}
.icon-published0:before,
.icon-published1:before,
.icon-valid:before {
  font-size: 1.3em;
}
.icon-plus:before,
.icon-minus:before {
  font-size: 1.2em;
}
.icon-plus:before {
  color: #259b24;
}
.icon-minus:before {
  color: #ff5722;
}

/* tab */

header .inline {
  position: absolute;
  bottom: -6px;
  right: 10px;
}
.writetab>ul {
  list-style-type: none;
  position: relative;
  right: 0;
  padding: 0;
  display: inline-block;
}
.writetab>ul>li {
  float: left;
  margin-bottom: -3px;
}
.writetab>ul>li>a {
  color: inherit;
  display: block;
  padding: 0.5em 1em;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: transparent;
  border-style: solid;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin-left: 5px;
  font-weight: normal;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.1);
}
.writetab>ul>li>.select {
  text-shadow: 1px 1px 0 #fff;
  background-color: #f5f5f5;
  border-bottom-color: #f5f5f5;
}
.ggraphs {
  margin: 10px 10px 0;
  background-color: #fff;
}
.ggraphs canvas {
  margin-top: 10px;
  width: 100%;
  height: 200px;
}
#GModal_modaldiv>.modaldiv>article,
#GModal_modaldiv>.modaldiv>form {
  padding: 10px;
  margin: 0;
  background-color: #fff;
  max-width: 600px;
}
.modaldiv header {
  margin: 0 0 10px 0;
}
.modaldiv form .submit {
  padding-bottom: 0;
}

/* dashboard */

.card {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.card h3 {
  padding: 10px;
}
.card .body {
  padding: 10px;
}

/* bar chart */

.chart {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}
.chart .group {
  display: table-cell;
  padding-left: 5px;
}
.chart .item {
  display: block;
  background-color: #f9f9f9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 5px;
}
.chart:last-child,
.chart .item:last-child {
  margin-bottom: 0;
}
.chart .title {
  display: table-cell;
  width: 4em;
  vertical-align: middle;
  text-align: center;
  color: inherit;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}
.chart .item .label {
  float: left;
  padding: 2px 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}
.chart .bar {
  font-style: normal;
  text-align: right;
  background-color: #f9f9f9;
  display: block;
  white-space: nowrap;
  padding: 2px 0;
  vertical-align: middle;
  min-width: 1px;
}
.chart .bar span {
  padding: 0 5px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}
.chart .positive {
  background-color: rgba(0, 255, 0, 0.1);
  color: rgba(0, 200, 0, 1);
}
.chart .negative {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(200, 0, 0, 1);
}
.chart .total {
  background-color: rgba(0, 0, 255, 0.1);
  color: rgba(0, 0, 200, 1);
}
.chart .bg1,
.chart.bg1 .title {
  background-color: #8bcc73;
}
.chart .bg2,
.chart.bg2 .title {
  background-color: #f66a79;
}
.chart .bg3,
.chart.bg3 .title {
  background-color: #79a4ee;
}
.chart .bg4,
.chart.bg4 .title {
  background-color: #e88662;
}
.chart .bg5,
.chart.bg5 .title {
  background-color: #4cc5b9;
}
.chart .bg6,
.chart.bg6 .title {
  background-color: #d578f6;
}
.chart .bg7,
.chart.bg7 .title {
  background-color: #ff9e2c;
}
.chart .bg8,
.chart.bg8 .title {
  background-color: #b4d27c;
}
.chart .bg9,
.chart.bg9 .title {
  background-color: #4ecdc4;
}
.chart .bg10,
.chart.bg10 .title {
  background-color: #ff6b6b;
}
.chart .bg11,
.chart.bg11 .title {
  background-color: #97f464;
}
.chart .bg12,
.chart.bg12 .title {
  background-color: #ab64f4;
}
a#ierecord {
  display: none;
}
.about header {
  margin-top: 20px;
  text-align: center;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  font-size: 2em;
}
.about header img {
  width: 100px;
}
.about .details {
  background-color: #fff;
  width: 600px;
  max-width: 90%;
  margin: 10px auto;
  padding: 5px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ddd;
}

/* edit inplace */

.editinplace_list {
  display: block;
  padding: 0;
  white-space: nowrap;
  list-style-type: none;
  border-top: 1px solid #ddd;
}
.editinplace_list>li {
  display: block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
.editinplace_list>li>span,
.editinplace_list>li>a {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  min-width: 5em;
  height: 2.3em;
  line-height: 2.3em;
  vertical-align: middle;
  text-align: center;
}
.editinplace_list [type="text"].editable {
  background-color: transparent;
  vertical-align: middle;
  height: 2.1em;
}
.editinplace_list>li>.editinplace {
  border-width: 1px;
  border-style: dashed;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  padding: 0 2px;
  min-width: 10em;
  position: relative;
}
.editinplace_list>li>.editinplace:after,
.editinplace_list>li>.editinplace {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.editinplace_list>li>.editinplace:hover {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
}
.editinplace_list>li>.editinplace:after {
  color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.025);
  content: "\e6d2";
  font-size: 0.8em;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1;
  padding: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  font-family: "icomoon";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
.editinplace_list>li>.editinplace:hover:after {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}
.editinplace_list>li .no {
  color: #ff5722;
}
.icon-published0:before {
  color: #ccc;
}
.icon-published1:before {
  color: #036;
}
.icon-move {
  cursor: move;
}
.no {
  color: #007fae;
  width: 2em;
  text-align: center;
}
article.help {
  padding: 0 10px 10px 10px;
}
article.help h3 {
  margin-bottom: 5px;
  border-bottom: 2px solid #ddd;
}
article.help h4 {
  font-weight: bold;
  margin: 10px 0 5px 0;
  border-bottom: 1px dashed #bbb;
  line-height: 2em;
}
article.help ul {
  list-style-type: disc;
  padding: 0 0 0 25px;
}

/* tablet, small device */

@media only screen and (max-width: 960px) {
  .setup_frm {
    border-bottom: 1px solid #dbdbdb;
    overflow-x: auto;
    overflow-y: hidden;
  }
  div.dashboard,
  .setup_frm {
    display: block;
    margin: 10px 10px 0 10px;
    width: auto;
  }
  .writetab>ul>li>.select {
    background-color: #fff;
    border-bottom-color: #fff;
  }
  header.header .table,
  header.header .td {
    display: block;
  }
  header.header h2 {
    text-align: center;
  }
  header.header .td.right {
    padding-bottom: 5px;
  }
  a#ierecord {
    z-index: 7;
    display: inline-block;
    position: absolute;
    right: 10px;
    margin-top: -3em;
    font-size: 1.4em;
    text-decoration: none;
    background-color: #1276b9;
    background-color: rgba(18, 118, 185, 0.9);
    color: #fff;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
}

/* tablet, desktop  */

@media only screen and (min-width: 600px) {
  #login_div form {
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/* small device */

@media only screen and (max-width: 601px) {
  #login_div form {
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  }
}

/* tablet, small device */

@media only screen and (max-width: 768px) {
  /* tab */
  .writetab:after {
    position: absolute;
    z-index: 4;
    top: 50%;
    right: 5px;
    margin-top: -0.25em;
    border-width: 0.5em;
    content: "";
    border-style: solid solid none solid;
    border-color: #000 transparent #000 transparent;
  }
  .writetab>ul>li {
    float: none;
    line-height: 2em;
  }
  .writetab>ul>li>a {
    color: inherit;
    text-shadow: 1px 1px 0 #ffffff;
    background-color: #fff;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-left: 0;
    padding-right: 2em;
  }
  .writetab>ul>li>a:hover {
    background-color: #1976d2;
    color: #fff;
    text-shadow: 1px 1px 0 #333;
  }
  .writetab>ul {
    visibility: hidden;
    opacity: 0;
    height: 0;
    list-style-type: none;
    padding: 0;
    right: 0;
    z-index: 3;
    position: absolute;
    top: 1em;
    color: #333;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  header .inline {
    top: 0;
    height: auto;
  }
  header .inline:hover>.writetab>ul {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
  .inline>.writetab {
    min-width: 30px;
  }
  header.header .table,
  header.header .td {
    display: block;
  }
  header.header .td:last-child {
    padding-bottom: 10px;
  }
  header.header #logo {
    display: block;
    text-align: right;
  }
}
@media only screen and (max-width: 767px) {
  #login_div h2 .td {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  #login_div .comment {
    color: #0f0;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  }
}

/* Phone, Small Device */

@media only screen and (max-width: 480px) {
  .about .details {
    max-height: 10em;
  }
  #content {
    margin-bottom: 80px;
  }
}